@using GameZone.Settings
@model IEnumerable<Game>

@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">No games!</h4>
        <p class="mb-0">No games were added yet.</p>
    </div>
}
else
{
    <div class="row mt-5">
        @foreach (var game in Model)
        {
            <div class="col-lg-4 col-md-6">
                <div class="card border-dark mb-3">
                    <div class="card-body" style="background-image: url(@($"{FileSettings.ImagePath}/{game.Cover}")); background-size:cover; background-repeat: no-repeat; height:480px;">
                        <div class="h-100 d-flex align-items-end">
                            <span class="badge bg-primary rounded-0 fs-5">@game.Category.Name</span>
                        </div>
                    </div>
                    <div class="card-footer d-flex text-muted justify-content-between align-items-center">
                        <h5>@game.Name</h5>
                        <div>
                            @foreach(var gameDevice in game.Devices)
                            {
                                <i class="@gameDevice.Device.Icon fs-5 me-2"></i>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}